.informationBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(237,240,243, .5);
  padding: 2%;
  width: 90%;
}

.informationBox input {
  width: 100%;
  font-size: 100%;
}

.informationBox p {
  font-size: 150%;
  padding: 0;
  margin: 0;
  align-self: left;
  width: 100%
}

#submitButton {
  display: inline-block;
    border: none;
    padding: 2% 4%;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
}
