/*Texts*/
h1 {
  font-size: 600%;
}

h3 {
  font-size: 225%;
}

h4 {
  font-size: 175%;
}

p {
  font-size: 100%;
}

/*Menu*/
header {
  display: table;
  background-color: #0d1333;
  position: sticky;
  overflow: hidden;
  width: 100%;
  height: 7%;
  text-align: center;
  margin-bottom: 1.5em;
}

.menu:after {
  display: table-cell;
  vertical-align: middle;
  content: "";
  clear: both;
  width: 100%;
  padding: .25%;
}

.menu p {
  color: #c9cbd5;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  width: 15%;
  height: 50%;
  margin-left: .25%;
}

.menuItem a {
  text-decoration: none;
  color: #353535;
}

/*Photos*/
img {
  width: 30%;
}

/*Home Page*/
.titleBlock {
  display: flex;
  align-items: center;
  content: "";
  clear: both;
  margin: auto;
  width: 80%;
  padding: 2.5%;
}

.description {
  margin: 0 1% 0 7%;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3%;
}

.description h1 {
  text-shadow: 0 0 .05em #edf0f3;
  margin: 5%;
}

.description h3 {
  text-shadow: 0 0 .075em #edf0f3;
  margin: 5%;
}

/*Profile Page*/
.profileContent {
  display: flex;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#profileProjectSpace {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(237, 240, 243, 0.125);
  border-radius: 5%;
  height: 100%;
  width: 50em;
  margin: 3em;
}

#profilePictureSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60%;
  width: 70%;
  margin: 5% auto 0 auto;
  border-style: solid;
  border-color: #000000;
  border-radius: 5%;
}

.projectBar {
  display: flex;
  flex-wrap: wrap;
  background-color: #3e4142;
  height: 100%;
  width: 100%;
  padding: 1em;
}

.projectBox {
  background-color: #2d3132;
  padding: 1em;
  height: 30%;
  width: 37.5%;
  margin: 2% auto 2% auto;
  border-radius: 15%;
}

.projectBox p {
  color: #c9cbd5;
}

/*Forms*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: .5em;
  padding: .5em;
}

.logInForm {
  margin: 0 7% 0 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e4142;
  border-color: #000000;
  border-style: solid;
  border-radius: 5%;
  padding: 3%;
}

.logInForm p {
  font-size: 200%;
  padding: 0;
  margin: 0;
  align-self: left;
}

.logInForm a {
  color: #306bac;
}

.signUpForm {
  margin: 0 7% 0 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  padding: 3%;
}

/*Misc*/
html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #141b41;
}
