/*Texts*/
h1 {
  font-size: 450%;
}

h3 {
  font-size: 200%;
}

p {
  font-size: 100%;
}


/*Menu*/
header {
  background-color: grey;
  position: sticky;
  overflow: hidden;
  margin-bottom: 1.5em;
  width: 80%
}
.menu:after {
  display:flex;
  align-items: center;
  content: "";
  clear: both;
  width: 100%;
  padding: .25%;
}
.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  width: 15%;
  height: 50%;
  margin-left: .25%;
}
.menuItem a {
  text-decoration: none;
  color: #353535;
}

/*Photos*/
img {
  width: 30%;
}

/*Random Text Blocks*/
.titleBlock {
  display:flex;
  align-items: center;
  content: "";
  clear: both;
  margin: auto;
  width: 80%;
  background-color: blue;
  padding: 5%;
}

.description {
  margin: 0 1% 0 7%;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: red;
  padding: 3%;
}
.logInForm{
  margin: 0 7% 0 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  padding: 3%;
}

/*Forms*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: .5em;
  padding: .5em;
}
